.hl-box {
    clear: both;
    margin-bottom: 10px;
    overflow: hidden;
    height:75 px
}
hl-info {
}
.hl-desc p {
    line-height: 140%;
    height: 54px;
    display: block;
}

a:link, a:visited, a:active {
    color: #f87b27;
    font-weight: bold;
    text-decoration: none;
}

div.hl-thumb-img {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    -khtml-border-radius:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;             

    display: block;
    height: 75px;
    width: 75px;
}

a.hl-thumb {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    -khtml-border-radius:10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;             

    border: 1px solid #ccc;
    display: block;
    float: left;
    margin-right: 8px;
    overflow: hidden;
    padding: 0px;
    position: relative;
}

.hl-description {
    overflow: hidden;
}
.hl-date {
    color: #380;
    font-size: 0.8em;
    font-weight: bold;
}

a.hl-desc-link {
  font-weight: normal;
  color: #888;
}
